# 忽略默认文件
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.test
*.out
*.tgz
*.tar

# 忽略根下目录
.idea/
.git/
.vscode/
# updateFile/deployInfo/  # 忽略上传目录

# 忽略根下文件
vue3-bashItem*   # 忽略打包成功的二进制
controller/test  # 忽略测试文件


# 忽略all目录下文件
**/*.sh
**/*.log
**/*.yaml

# 取消忽略(忽略根下config目录下全部，但保留test.yaml文件（组合）） 
/config/*
!config/test.yaml






